<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lensim.fingerchat.fingerchat">

    <application
        android:name="._FGApplication"
        tools:replace="android:name">

    </application>

</manifest>