<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lensim.fingerchat.hexmeet">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application>
        <activity android:name=".activity.HexMeetListActivity"/>
        <activity android:name=".activity.Conversation"/>
        <activity android:name=".activity.ConnectActivity"/>
        <activity android:name=".contact.ContactDetail" android:screenOrientation="portrait"/>
        <activity android:name=".activity.CreateMeetingActivity" />
        <activity android:name=".activity.DialingActivity" />
        <activity android:name=".activity.DialInNotifyActivity" />
        <activity android:name=".activity.MeetingDetailActivity" />
        <activity android:name=".activity.StringPropertyEditor" />
        <activity android:name=".conf.ConferenceParticipantList" />



    </application>

</manifest>